// Import NHS.UK frontend library
@import "nhsuk-frontend/dist/nhsuk";

.custom-yellow-box// Add your custom CSS/Sass styles below.
 {
  background-color: #ffffff;
  border-top: 6px solid #ffbf47;
  padding: 16px;
}
