{% extends "layout.html" %}

{% from 'panel/macro.njk' import panel %}
{% from "summary-list/macro.njk" import summaryList %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      
<h1>Contact 111 in another language</h1>
<H2>British Sign Language (BSL)</h2> <figure class="nhsuk-image">
  <img class="nhsuk-image__img" src="/assets/BSL-icon-blue-RGB.png" sizes="(max-width: 768px) 100vw, 66vw" srcset="/assets/BSL-icon-blue-RGB.png 600w, /assets/BSL-icon-blue.png 1000w">
     </figure>
<a href="#" class="nhsuk-link">Use signvideo.co.uk/nhs111</a>



<img
  class="nhsuk-image__img"
  src="assets/images/BSL-icon-blue-RGB.png"
  srcset="
    assets/images/BSL-icon-blue-RGB.png 600w"
  alt="British Sign Language"
>


<figure class="nhsuk-image">
  <img
    class="nhsuk-image__img"
    src="assets/images/BSL-icon-blue-RGB.png"
    alt="British Sign Language icon">
</figure>

<p>
<p>Available 24 hours a day, 7 days a week.<p>

<H2>Help in another language</h2>
<p>Call 111 and ask for an interpreter.

<p>You will need to say the name of your language in English. For example, "Arabic" or "Ukranian".

<p>It may take some time to be connected to an interpreter. When the interpreter is ready, they will talk to you.

    </div>
  </div>
{% endblock %}