{% extends "layout.html" %}

{% block content %}
<div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">
      <h1 class="nhsuk-heading-l">
        Your confirmation
      </h1>
    </div>
  </div>


.custom-yellow-box {
  background-color: #ffffff; /* white background */
  border-top: 6px solid #ffeb3b; /* NHS-style yellow */
  border-left: none;
  padding: 16px;
}

          

          <main class="nhsuk-main-wrapper" id="maincontent">
            
  <div class="nhsuk-u-reading-width">
 <div class="app-call-to-action">
        <h1 data-test-id="outcome-heading" class="nhsuk-heading-l">Contact your GP surgery as soon as you can, today</h1>
        </div>

         <hr class="app-section-break">

         {% endblock %}