{% extends "layout.html" %}

{% from 'breadcrumb/macro.njk' import breadcrumb %}
{% from 'button/macro.njk' import button %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ breadcrumb({
    items: [
      {
        href: "#",
        text: "Home"
      },
      {
        href: "#",
        text: "Section"
      }
    ],
    href: "#",
    text: "Subsection"
  }) }}
{% endblock %}

{% block content %}
  <div class="nhsuk-grid-row">
    <div class="nhsuk-grid-column-two-thirds">

      <h1>{{ serviceName}} </h1>
      <p>Use this service to do something.</p>
      <p>You can use this service if you:</p>
      <ul>
        <li>live in England</li>
          <li>have been followed by a black cat</li>
        <li>have a tingling feeling in your fingers</li>
        <li>have a magical parent</li>
      </ul>

{% from 'inset-text/macro.njk' import insetText %}

{% set insetTextHtml %}
  <p>You should not order a test if you know you do not have powers.</p>
{% endset %}

{{ insetText({
  html: insetTextHtml
}) }}
      <h2>Before you start</h2>

      <p>You may be hunted. We do not take any responsibility for your wellbeing.</p>

      {{ button({
        text: "Start now",
        href: "/magical-powers"
      }) }}

      <p>By using this service you are agreeing to our <a href="#">terms of use</a> and <a href="#">privacy policy</a>.</p>

    </div>
  </div>
{% endblock %}